@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Inter:wght@200&family=Neonderthaw&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&family=The+Nautigal:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Inter:wght@200&family=Neonderthaw&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&family=The+Nautigal:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Inter:wght@200&family=Neonderthaw&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&family=Redressed&family=The+Nautigal:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Inter:wght@200&family=Neonderthaw&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&family=Redressed&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&family=The+Nautigal:wght@400;700&display=swap');

:root{
    --white:#fff;
    --light-dark:#444;
    --orange:#e75b1e;
    --bg-aboutUs:#e6e6e6;
    --gray:#f5f5f5;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

section{
    padding: 5rem 8%;
}

header{
    padding: 2rem 9%;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}


header .logo img{
    width: 50px;
}

header .navigation{
    display: flex;
    list-style: none;
    column-gap: 25px;
    position: relative;
    visibility: visible;
    height: 30px;
}


header .navigation li{
    overflow: hidden;
}

header  .navigation li{
    position: relative;
}

header .navigation li:nth-child(1)::before{
    content: '';
    background: var(--orange);
    width: 100%;
    height: 6px;
    bottom:0;
    border-radius: 5px;
    position: absolute;
}

header .navigation li::before{
    content: '';
    background: grey;
    width: 100%;
    height: 6px;
    bottom: -2px;
    left: -150px;
    border-radius: 3px;
    position: absolute;
    transition: .7s;
}

header .navigation li:hover::before{
    content: '';
    background: grey;
    width: 100%;
    height: 6px;
    bottom: 0;
    left: 0;
    border-radius: 3px;
    position: absolute;
    animation: slideColor 1s linear;
}

@keyframes slideColor{
    50%{
        background: gray;
    }
    100%{
        background: var(--orange);
    }
}

header .navigation li a{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

header.sticky{
    background: var(--light-dark);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}


/* Header Burger Menu */
header .burgerMenu{
    display: none;
    cursor: pointer;
}

.bars1{
    background-color: var(--orange);
    width: 40px;
    height: 3px;
    margin-bottom: 3px;
    border-radius: 4px;
    transition: .5s;
}

.bars1.change{
    transform: rotate(-45deg) translate(-9px);
    transition: .5s;
}
.bars2.change{
    transform: translateX(100px);
    transition: .5s;
    visibility: hidden;
}
.bars3.change{
    transform: rotate(45deg) translate(-8px);
    transition: .5s;
}

.bars2, .bars3{
    background-color: var(--orange);
    width: 40px;
    height: 3px;
    margin-bottom: 3px;
    border-radius: 4px;
    transition: .5s;
}


header .hiddenNavbar{
    background:var(--light-dark);
    width: 100%;
    position: fixed;
    left: 0;
    top: -500px;
    transition: 1s;
    font-family: 'Roboto', sans-serif;
}

header .hiddenNavbar.change{
    background:var(--light-dark);
    width: 100%;
    position: fixed;
    left: 0;
    top: 120px;
    padding: 2rem 8%;
    transition: 1s;
}

header .hiddenNavbar ul{
    list-style: none;
}

header .hiddenNavbar ul li{
    margin-top: 30px;
    height: 30px;
    width: 100%;
        position: relative;
}

header .hiddenNavbar ul li a:before{
    content: '';
    background: grey;
    width: 100%;
    height: 3px;
    bottom: -10px;
    left: -130%;
    border-radius: 3px;
    position: absolute;
    transition: 1s;
}
header .hiddenNavbar ul li a:hover:before{
    content: '';
    background: grey;
    width: 100%;
    height: 3px;
    bottom: -10px;
    left: 0;
    border-radius: 3px;
    position: absolute;
    animation: slideColor 1s linear;
}

header .hiddenNavbar ul li a{
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    position: absolute;
    width: 100%;
}

/* Banner */
.banner{
    background: url('bgBanner.png');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner .content{
    margin-top: 100px;
}

.banner .content h1{
    text-align: center;
    text-transform: capitalize;
    color: var(--orange);
    font-size: 4.5rem;
    max-width: 800px;
    font-weight: bold;
    font-family: 'Dongle', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Neonderthaw', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'The Nautigal', cursive;
}

.banner .content h1 span{
    color: #fff;
}

.banner .content .orderbtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    list-style: none;
}

.banner .content .orderbtn li{
    margin-top: 30px;
    width: 240px;
    background: var(--orange);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .content .orderbtn li:hover{
    background: transparent;
    border: 4px solid var(--orange);
}

.banner .content .orderbtn li a{
    text-transform: uppercase;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}

.banner  .mouse{
    margin-top: 30px;
    width: 60px;
    height: 110px;
    border: 3px solid var(--white);
    border-radius: 20px;
    position: relative;
}

.banner .mouse::before{
    content: '';
    border: 3px solid var(--white);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 33%;
    top: 10%;
    animation: mouse 1.3s infinite;
}   

@keyframes mouse {
    100%{
        transform: translateY(30px);
    }
}


/* About us */
.aboutUs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: var(--bg-aboutUs);
    font-family: 'Poppins', sans-serif;
}

.aboutUs .content{
    max-width: 500px;
}

.aboutUs .content h3{
    text-transform: capitalize;
    color: var(--orange);
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 800;
}

.aboutUs .content span{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--light-dark);
}

.aboutUs p{
    color: var(--light-dark);
    line-height: 25px;
    margin-top: 8px;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.aboutUs .sci{
    display: inline-flex;
    list-style: none;
}

.aboutUs .sci li{
    margin-right: 10px;
}

.aboutUs .sci li i{
    font-size: 1.4rem;
}

.aboutUs .sci li:nth-child(1) i{
    color: red;
}

.aboutUs .sci li:nth-child(2) i{
    color: blue;
}

.aboutUs .imgBox{
    max-width: 400px;
    max-height: 400px;
    position: relative;
    border: 8px solid var(--white);
    border-radius: 50%;
}

.aboutUs .imgBox::before{
    content: '';
    background: url('menu5.jpg');
    width:150px;
    height: 150px;
    z-index: 100;
    top: 0;
    right: 0;
    position: absolute;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 8px solid var(--white);
}

.aboutUs .imgBox img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.specialMenu{
    background: url('paralaxx.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.specialMenu::before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
}

.specialMenu h3{
    color: var(--orange);
    font-size: 5rem;
    text-transform: capitalize;
    font-family: 'The Nautigal', cursive;
    z-index: 2;
    margin-top: -60px;
}
.specialMenu  .contentBox{
    display: flex;
    width: 100%;
}

.specialMenu p{
    color: var(--white);
    text-transform: capitalize;
    font-size: 1.6rem;
    z-index: 2;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

.specialMenu p span{
    color: var(--orange);
}

.specialMenu p span i{
    color: var(--white);
    animation: arrow 1s infinite;
}

@keyframes arrow {
    100%{
        transform: translateX(10px);
    }
}

.specialMenu .contentBox .images{
    max-width: 400px;
    height: 500px;
    margin: 5px;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    text-align: center;
}

/* .specialMenu .contentBox .swiper-wrapper{
    display: flex;
    flex-direction: row;
} */

.specialMenu .contentBox .images img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid var(--white);
}

.specialMenu .contentBox .images .overlay h5{
    color: var(--white);
    text-transform: capitalize;
    font-size: 1.5rem;
    margin-top: 80%;
    position: relative;
}

.specialMenu .contentBox .images .overlay h5::before{
    content: '';
    background: var(--white);
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 3px;
}

.specialMenu .contentBox .images .overlay p{
    color: var(--white);
    font-size: 1rem;
    font-style: italic;
    margin-top: 15px;
}

.specialMenu .contentBox .images:hover .overlay{
    background: var(--orange);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 50%;
    cursor: pointer;
    transition: .6s;
    padding: 30px;
}

/* End Special Menu */

/* Our Menu */
.ourMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ourMenu .menuBox{
    background: var(--gray);
    width: 100%;
    margin-top: 20px;
}

.ourMenu h3{
    text-align: center;
    color: var(--orange);
    font-size: 4rem;
    text-transform: capitalize;
    font-family: 'Redressed', cursive;
}

.ourMenu p{
    max-width: 800px;
    text-align: center;
    margin-top: 30px;
    font-size: 1.2rem;
    color: var(--light-dark);
    font-family: 'Poppins', sans-serif;
}

.ourMenu .category{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
    text-transform: capitalize;
    color: var(--white);
    padding: 40px 20px;
}

.ourMenu .category li{
    background: var(--orange);
    padding: 10px 20px;
    width: 100px;
    cursor: pointer;
}

/* Menu Content */
.ourMenu .contentMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 30px;
    row-gap: 25px;
}

.ourMenu .contentMenu .foodMenu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-top: 30px;
    align-items: center;
}

.ourMenu .contentMenu .foodMenu .textMenu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ourMenu .contentMenu .foodMenu .images{
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    margin-right: 10px;
    border: 4px solid var(--white);
}

.ourMenu .contentMenu .foodMenu .images img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.ourMenu .contentMenu .foodMenu.hide{
    display: none;
}

.ourMenu .contentMenu .foodMenu h3{
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 10px;
}

.ourMenu .contentMenu .foodMenu p{
    font-size: .9rem;
    width: 250px;
    margin-top: -5px;
    text-align: left;
    color: var(--light-dark);
}

.ourMenu .contentMenu .foodMenu span{
    display: flex;
    border: 1px solid var(--orange);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin-top: 5px;
    font-weight: 500;
    font-size: 1.1rem;
}

.ourGalleri h3{
    color: var(--orange);
    text-align: center;
    text-transform: capitalize;
    font-size: 2rem;
    font-family: 'Redressed', cursive;
}

.ourGalleri .content{
    margin-top: 40px;
    display: flex;
    row-gap: 10px;
    column-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.ourGalleri .content .images{
    max-width: 350px;
}

.ourGalleri .content .images img{
    width: 100%;
}

.ourGalleri .content .images{
    position: relative;
}

.ourGalleri .content .images:hover .overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 70%;
    top: 0;
    background: var(--orange);
    transition: .7s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ourGalleri .content .images a{
    z-index: 10;
}

.ourGalleri .content .images i{
    position: absolute;
    top: 45%;
    left: 45%;
    visibility: hidden;
    color: var(--white);
    font-size: 1.7rem;
}

.ourGalleri .content .images:hover i{
    position: absolute;
    top: 45%;
    left: 45%;
    visibility: visible;
}



/* Party Rooms */
.partyRoom{
    background: url('paralaxx.png');
    max-height: 1800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.partyRoom h3{
    text-align: center;
    color: var(--orange);
    text-transform: capitalize;
    font-size: 2.5rem;
    font-family: 'Redressed', cursive;
}

.partyRoom .contentRoom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-around;
}

.partyRoom .contentRoom .content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 500px;
    justify-content: center;
    row-gap: 10px;
    position: relative;
    margin-top: 20px;
}

.partyRoom .contentRoom .content .images{
    max-width: 500px;
    height: 300px;
    overflow: hidden;
    transition: .8s;
}

.partyRoom .contentRoom .content .images:hover img{
    transform: scale(1.2);
    transition: .8s;
}

.partyRoom .contentRoom .content .images img{
    width: 100%;
    height: 100%;
}


/* Booking Form */
.booking {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.booking h3{
    color: var(--orange);
    text-transform: capitalize;
    font-size: 3rem;
    text-align: center;
    font-family: 'Redressed', cursive;
}

.booking h4{
    margin-top: 20px;
    color: var(--light-dark);
    text-transform: uppercase;
    font-size: 1.7rem;
}

.booking p{
    color: var(--light-dark);
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
}

.booking .contentBooking{
    margin-top: 20px;
    display: flex;
    column-gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.booking .content .form1{
    margin-right: 20px;
}

.booking .contentBooking ul{
    list-style: none;
}

.booking .contentBooking ul li{
    margin-top: 10px;
}

.booking .contentBooking ul li select{
    height: 40px;
    width: 250px;
    border: 1px dotted var(--light-dark);
    background: var(--gray);
    padding: 0 10px;
    text-transform: capitalize;
    outline: none;
}

.booking .contentBooking ul li option{
    color: var(--light-dark);
    text-transform: capitalize;
    font-size: 1rem;
    height: 10px;
    font-family: 'Poppins', sans-serif;
    padding: 30px;
    background: var(--white);
}
.booking .contentBooking ul li input{
    height: 40px;
    width: 250px;
    padding: 0 10px;
    color: var(--light-dark);
    background: var(--gray);
    border: 1px dotted var(--light-dark);
    outline: none;
}

.booking a{
    text-decoration: none;
    margin-top: 50px;
    text-transform: capitalize;
    color: var(--light-dark);
    background: var(--orange);
    font-size: 1.5rem;
    padding: 15px 30px;
}

.booking a:hover{
    background: transparent;
    border: 2px solid var(--orange);
}

/* Newslatter */
.newslatter{
    background:url('bgNewsletter.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.newslatter h3{
    color: var(--white);
    font-size: 2.5rem;
    text-transform: capitalize;
}

.newslatter p{
    color: var(--white);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.newslatter ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.newslatter ul li input{
    height: 30px;
    width: 500px;
    outline: none;
    padding: 0 15px;
    border: none;
}

.newslatter ul li button{
    height: 30px;
    width: 30px;
    background: var(--orange);
    border: none;
    color: var(--white);
}

/* Footer */
.footer{
    background: url('bgFooter.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 40px;
}

.footer .content ul{
    list-style: none;
}

.footer h3{
    color: var(--orange);
    font-family: 'Redressed', cursive;
    font-size: 1.8rem;
    text-transform: capitalize;
    margin-top: 15px;
}

.footer ul li p{
    color: var(--white);
    margin-top: 8px;
}

.footer .content .contentFooter{
    max-width: 200px;
}

.footer .content .locations .sci {
    list-style: none;
    color: var(--white);
    display: inline-flex;
    margin-top: 10px;
}

.footer .content .locations {
    max-width: 250px;
}

.footer .content .contact {
    max-width: 250px;
}


.footer .content .locations ul li{
    margin-right: 10px;
}

.footer2{
    background: var(--orange);
    height: 50px;
}










@media(max-width:1115px){    
    header .navigation{
        display: none;
    }

    header .burgerMenu{
        display: block;
    }

    .aboutUs{
        justify-content: space-around;
    }

    
.specialMenu{
    height: 700px;
}

    .specialMenu .contentBox .images{
        max-width: 300px;
        max-height: 400px;
    }
}

@media (max-width:768px) {
    .specialMenu h3{
        font-size: 1.3rem;
    }

    .specialMenu p{
        font-size: .7rem;
        text-align: center;
    }

    .specialMenu .contentBox .images{
    max-width: 350px;
    max-height: 400px;
    }

    .newslatter ul li input{
        height: 30px;
        width: 300px;
    }

    
}

@media (max-width:480px) {
    .aboutUs .imgBox::before{
        width:80px;
        height: 80px;
    }

    .specialMenu h3{
        color: var(--orange);
        font-size: 2.1rem;
        margin-top: -20px;
        text-align: center;
    }

    .specialMenu p{
        font-size: .7rem;
        text-align: center;
    }

    .ourMenu .contentMenu .foodMenu h3{
        text-align: center;
        font-size: 1.1rem;
        margin-top: 8px;
    }

    .ourMenu .contentMenu .foodMenu p{
        text-align: center;
        font-size: .7rem;
        width: 200px;
        padding: 0 10px;
    }

    .ourMenu .contentMenu .foodMenu .textMenu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    /* Booking Menu */
    .booking h3 {
        font-size: 2rem;
    }

    .booking h4 {
        font-size: 1.3rem;
        text-align: center;
    }

    .booking a {
        font-size: 1rem;
    }

    .newslatter ul li input{
        height: 30px;
        width: 200px;
    }




}